langchain
langchain-openai
langchain-google
pydantic
python-dotenv
langgraph
wikipedia
langchain-community
langchain_google_genai
langgraph-checkpoint-sqlite
faiss-cpu
fastapi 
uvicorn
pydantic
torch
onnxscript
requests
numpy
prometheus_client
